<a href="https://colab.research.google.com/github/SeongUkJang/python-basic/blob/main/python_basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. 자료형 출력하기

In [ ]:
print("hello python!")

hello python!

In [ ]:
#int
x = 10
y = -5
z = x + y
print(f"x: {x}, y: {y}, z: {z}")  # x: 10, y: -5, z: 5

x: 10, y: -5, z: 5

In [ ]:
#float
pi = 3.14159
radius = 5
area = pi * (radius ** 2)
print(f"원의 면적: {area}")  # 원의 면적: 78.53975

원의 면적: 78.53975

In [ ]:
#str
name = "John"
greeting = f"Hello, {name}!"
print(greeting)  # Hello, John!

Hello, John!

In [ ]:
#boolean
is_active=True
is_looed_in=False
if is_active:
  print("활성화 상태입니다.")
else:
  print("비활성화 상태입니다.")

  if is_looed_in:
    print("로그인 상태입니다.")
  else:
    print("로그아웃 상태입니다.")

활성화 상태입니다.

In [ ]:
#list
numbers =[1,2,3,4,5]
numbers.append(6)
print(numbers)
print(f"리스트의 길이:{len(numbers)}")

[1, 2, 3, 4, 5, 6]
리스트의 길이:6

In [ ]:
#tuple
coordinates = (10, 20)
print(coordinates)  # (10, 20)

(10, 20)

In [ ]:
#dict
person = {"name": "Alice", "age": 25, "city": "New York"}
person["age"] = 26
person["job"] = "Developer"
print(person)

{'name': 'Alice', 'age': 26, 'city': 'New York', 'job': 'Developer'}

In [ ]:
#set
unique_numbers = {1, 2, 3, 4, 4, 5}
unique_numbers.add(6)
unique_numbers.remove(2)
print(unique_numbers)

{1, 3, 4, 5, 6}

# 2. 문자열 처리

In [ ]:
text = "hello python"
print(text)
print(text[0])
print(text[-1])
print(text[0:5])
print(text[6:])
print(text[:5])

hello python
h
n
hello
python
hello

In [ ]:
name = "Alice"
age = 25
print(f"{name}의 나이는 {age}세 입니다")
print("{}의 나이는 {}세입니다.".format(name, age))
print("%s의 나이는 %d세입니다." % (name, age))

Alice의 나이는 25세 입니다
Alice의 나이는 25세입니다.
Alice의 나이는 25세입니다.

# 3. 사용자입력

In [ ]:
name = input("이름을 입력하세요: ")
age = input("나이를 입력하세요: " )
print(f"{name}님 안녕하세요! 당신의 나이는 {age}세 입니다")

이름을 입력하세요: a
나이를 입력하세요: 12
안녕하세요, a
a님 안녕하세요! 당신의 나이는 12세 입니다

In [ ]:
x, y = input("두 숫자를 입력하세요 (예: 10 20): ").split()
print(int(x) + int(y))

두 숫자를 입력하세요 (예: 10 20): 10 20
30

# 4. 연산자

In [ ]:
a= int(input("첫 번째 숫자를 입력하세요: "))
b= int(input("두 번째 숫자를 입력하세요: "))
print("덧셈 : ", a+b)
print("뺄셈 : ", a-b)
print("곱셈 : ", a*b)
print("나눗셈 : ", a/b)
print("나머지 : ", a%b)
print("거듭제곱 : ", a**b)

첫 번째 숫자를 입력하세요: 10
두 번째 숫자를 입력하세요: 5
덧셈 :  15
뺄셈 :  5
곱셈 :  50
나눗셈 :  2.0
나머지 :  0
거듭제곱 :  100000

In [ ]:
age = int(input("나이를 입력하세요: "))

is_teenager = age >= 13 and age <= 19

print("청소년 여부:", is_teenager)

나이를 입력하세요: 18
청소년 여부: True

In [ ]:
score = int(input("점수를 입력하세요: "))

if score >= 60:
    print("합격입니다!")
else:
    print("불합격입니다.")

점수를 입력하세요: 70
합격입니다!

# 5.실습문제

In [ ]:
# 사용자로부터 이름과 나이를 입력받아 다음 형식으로 출력하시오.
name = input("이름을 입력하세요: ")
age = input("나이를 입력하세요: " )
print(f"{name} 님은 {age}세 입니다")

이름을 입력하세요: 홍길동
나이를 입력하세요: 25
홍길동 님은 25세 입니다

In [ ]:
# 두 개의 정수를 입력받아, 덧셈 결과를 출력하시오.
x, y = input("두 숫자를 입력하세요 (예: 10 20): ").split()
print(int(x) + int(y))

In [ ]:
# 사용자로부터 반지름을 입력받아 원의 넓이를 계산하시오.
radius = int(input("반지름을 입력하세요: "))
pi = 3.14159
area = pi * (radius ** 2)
print(f"원의 면적: {area}")
area = pi * (radius ** 2)
print(f"원의 면적: {area}")

반지름을 입력하세요: 10
원의 면적: 314.159
원의 면적: 314.159

In [ ]:
# 사용자로부터 정수를 입력받아 짝수인지 홀수인지 판별하시오.
num = int(input("정수를 입력하세요: "))
if num % 2 == 0:
    print("짝수입니다.")
else:
    print("홀수입니다.")

In [ ]:
# 사용자로부터 키(cm)와 몸무게(kg)를 입력받아 BMI 지수를 계산하시오.
height = int(input("키를 입력하세요 (cm): "))
weight = int(input("몸무게를 입력하세요 (kg): "))
bmi = weight / ((height / 100) ** 2)
print(f"BMI 지수: {bmi:2f}")

키를 입력하세요 (cm): 190
몸무게를 입력하세요 (kg): 100
BMI 지수: 27.700831

# 6. 조건문

In [ ]:
x=int(input("숫자를 입력하세요"))

if x > 10:
    print("x는 10보다 큽니다.")
elif x > 5:
    print("x는 5보다 큽니다.")
else:
    print("x는 5보다 작거나 같습니다.")

숫자를 입력하세요10
x는 5보다 큽니다.

In [ ]:
age = 20
student = True

if age >= 18:
    if student:
        print("성인 학생입니다.")
    else:
        print("성인이지만 학생은 아닙니다.")

성인 학생입니다.

In [ ]:
x = 3
result = "x는 5보다 큽니다." if x > 5 else "x는 5보다 작거나 같습니다."
print(result)

x는 5보다 작거나 같습니다.

In [ ]:
x = 10
y = 20

if x == y:
    print("x와 y는 같습니다.")
elif x != y:
    print("x와 y는 다릅니다.")

x와 y는 다릅니다.

In [ ]:
my_list = [1, 2, 3, 4, 5]

if 3 in my_list:
    print("리스트에 3이 포함되어 있습니다.")

if 6 not in my_list:
    print("리스트에 6이 포함되어 있지 않습니다.")

리스트에 3이 포함되어 있습니다.
리스트에 6이 포함되어 있지 않습니다.

# 7. 실습문제

In [ ]:
#사용자로부터 정수를 입력받아 양수, 음수, 0 중 어떤 값인지 출력하세요
num = int(input("정수를 입력하세요: "))
if num > 0:
    print("양수입니다.")
elif num < 0:
    print("음수입니다.")
else:
    print("0입니다.")

In [ ]:
#사용자로부터 정수를 입력받아 짝수인지 홀수인지 출력하세요.
num = int(input("정수를 입력하세요: "))

if num % 2 == 0:
    print("짝수입니다.")
else:
    print("홀수입니다.")

In [ ]:
#두 개의 정수를 입력받아 더 큰 값을 출력하세요.
num1 = int(input("첫 번째 정수를 입력하세요: "))
num2 = int(input("두 번째 정수를 입력하세요: "))

if num1 > num2:
  print(f"더 큰 수는 {num1} 입니다.")
elif num2 > num1:
  print(f"더 큰 수는 {num2} 입니다.")
else:
  print("두 숫자는 같습니다.")

In [ ]:
#점수를 입력받아 아래 기준에 따라 학점을 출력하세요.
#- 90점 이상: A
#- 80점 이상: B
#- 70점 이상: C
#- 60점 이상: D
#- 그 외: F

score = int(input("점수를 입력하세요: "))

if score >= 90:
    print("학점: A")
elif score >= 80:
    print("학점: B")
elif score >= 70:
    print("학점: C")
elif score >= 60:
    print("학점: D")
else:
    print("학점: F")

In [ ]:
#숫자 리스트 [3, 7, 9, 12] 안에 입력받은 숫자가 있는지 확인하세요.
my_list = [3, 7, 9, 12]
num = int(input("숫자를 입력하세요: "))

if num in my_list:
    print(f"{num}은 리스트에 포함되어 있습니다.")

In [ ]:
#두 개의 정수를 입력받아 같으면 "같습니다", 다르면 "다릅니다"를 출력하세요.
num1 = int(input("첫 번째 정수를 입력하세요: "))
num2 = int(input("두 번째 정수를 입력하세요: "))

if num1 == num2:
    print("같습니다.")
else:
    print("다릅니다.")

In [ ]:
#사용자로부터 문자열을 입력받아 길이가 5자 이상이면 “길어요”, 아니면 “짧아요”를 출력하세요.
text = input("문자열을 입력하세요: ")

if len(text) >= 5:
    print("길어요")
else:
    print("짧아요")

In [ ]:
#정수를 입력받아 1 이상 100 이하인지 확인하고, 범위 안에 있으면 "정상", 아니면 "범위 초과"를 출력하세요.
num = int(input("정수를 입력하세요: "))

if 1 <= num <= 100:
    print("정상")
else:
    print("범위 초과")

In [ ]:
#아이디는 "admin", 비밀번호는 "1234"일 때만 "로그인 성공"을 출력하세요.
id = input("아이디를 입력하세요: ")
pw = input("비밀번호를 입력하세요: ")

if id == "admin" and pw == "1234":
    print("로그인 성공")

In [ ]:
#정수를 입력받아 3의 배수인지 아닌지를 판별하세요.
num = int(input("정수를 입력하세요: "))

if num % 3 == 0:
    print(f"{num}은(는) 3의 배수입니다.")
else:
    print(f"{num}은(는) 3의 배수가 아닙니다.")

# 8-1. 배열(리스트)

In [ ]:
#과일 리스트 출력하기
fruits = ["사과", "바나나", "딸기"]
print("과일 목록:")
for f in fruits:
    print("-", f)

과일 목록:
- 사과
- 바나나
- 딸기

In [ ]:
#사용자에게 3개의 이름을 입력받아 리스트로 출력하기
names = []

for i in range(3):
    name = input(f"{i+1}번째 이름을 입력하세요: ")
    names.append(name)

print("입력한 이름들:", names)

1번째 이름을 입력하세요: 1
2번째 이름을 입력하세요: 2
3번째 이름을 입력하세요: 3
입력한 이름들: ['1', '2', '3']

# 8-2 배열의 원소 조회

In [ ]:
#숫자 5개로 이루어진 리스트를 생성하고, 모든 요소의 합과 평균을 출력하시오.
numbers = [10, 20, 30, 40, 50]
total = sum(numbers)
average = total / len(numbers)
print("합:", total)
print("평균:", average)

합: 150
평균: 30.0

In [ ]:
#리스트에 저장된 점수 중 60점 이상만 출력하시오.
scores = [85, 72, 90, 55, 68]
for score in scores:
    if score >= 60:
        print(score)

85
72
90
68

In [ ]:
#3명의 이름을 입력받아 리스트에 저장한 후 출력하시오.
names = []
for i in range(3):
    name = input(f"{i+1}번째 이름을 입력하세요: ")
    names.append(name)
print("입력한 이름들:", names)

1번째 이름을 입력하세요: 1
2번째 이름을 입력하세요: 2
3번째 이름을 입력하세요: 3
입력한 이름들: ['1', '2', '3']

In [ ]:
#사용자로부터 과일 이름 3개를 입력받아 리스트로 저장하고, 그 중 첫 번째 과일만 출력하시오.
fruits = []
for i in range(3):
    fruit = input(f"{i+1}번째 과일 이름을 입력하세요: ")
    fruits.append(fruit)
print("첫 번째 과일:", fruits[0])

1번째 과일 이름을 입력하세요: 1
2번째 과일 이름을 입력하세요: 2
3번째 과일 이름을 입력하세요: 3
첫 번째 과일: 1

In [ ]:
#리스트 [1, 2, 3, 4, 5]에서 짝수만 새로운 리스트에 담고 출력하시오.
numbers = [1, 2, 3, 4, 5]
even_numbers = [num for num in numbers if num % 2 == 0]
print("짝수 리스트:", even_numbers)

짝수 리스트: [2, 4]

# 실습문제

In [ ]:
# 1부터 10까지 숫자를 한 줄씩 출력하시오.
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
# 사용자로부터 정수 하나를 입력받아, 그 수만큼 "안녕하세요"를 출력하시오.
num = int(input("정수를 입력하세요: "))
for i in range(num):
    print("안녕하세요")

정수를 입력하세요: 1
안녕하세요

In [ ]:
# 1부터 100까지의 정수 중 짝수만 출력하시오.
for i in range(1, 101):
    if i % 2 == 0:
        print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [ ]:
# 사용자로부터 숫자 5개를 입력받아 리스트에 저장하고, 반복문을 사용하여 모두 출력하시오.
numbers = []
for i in range(5):
    num = int(input(f"{i+1}번째 숫자를 입력하세요: "))
    numbers.append(num)
print("입력한 숫자들:", numbers)

1번째 숫자를 입력하세요: 1
2번째 숫자를 입력하세요: 2
3번째 숫자를 입력하세요: 3
4번째 숫자를 입력하세요: 4
5번째 숫자를 입력하세요: 5
입력한 숫자들: [1, 2, 3, 4, 5]

In [ ]:
# 1부터 10까지의 숫자를 더한 총합을 출력하시오.
total = 0
for i in range(1, 11):
    total += i
print("총합:", total)

총합: 55

# 9-1 함수의정의

In [ ]:
def greet(name):
    return f"Hello, {name}!"

message = greet("Alice")
print(message)

Hello, Alice!

In [ ]:
def add(a, b):
    return a + b

result = add(3, 5)
print(result)

8

In [ ]:
def greet(name):
    print(f"Hello, {name}!")

greet("John")

Hello, John!

In [ ]:
def square(num):
    return num ** 2

result = square(4)
print(result)

16

# 9-2 함수의 유형

In [ ]:
def say_hello():
    print("Hello!")

say_hello()

Hello!

In [ ]:
def greet(name):
    print(f"Hello, {name}!")

greet("Alice")

Hello, Alice!

In [ ]:
def greet(name="Guest"):
    print(f"Hello, {name}!")

greet()
greet("Alice")

Hello, Guest!
Hello, Alice!

In [ ]:
def new_greet(user="admin",age=10):
    print(f"{user}님의 나이는 {age}살 입니다.")

new_greet()
new_greet("Alice",25)

Alice님의 나이는 25살 입니다.
admin님의 나이는 10살 입니다.

In [ ]:
def add_numbers(*args):
    return sum(args)

print(add_numbers(1, 2, 3))


def print_info(**kwargs):
    for key, value in kwargs.items():
        print(f"{key}: {value}")

print_info(name="Alice", age=25)

6
name: Alice
age: 25

# 9-3 lambda

In [ ]:
square = lambda x: x**2
print(square(5))
print(square(6))

25
36

In [ ]:
circle = lambda a, b, c: a * b * c
print(circle(2, 4, 3))

24

In [ ]:
numbers = [1,2,3,4,5]
squares = list(map(lambda x:x**2, numbers))
print(squares)

[1, 4, 9, 16, 25]

In [ ]:
numbers = [10,15,21,30,33,40]
result = list(filter(lambda x: x % 3 == 0, numbers))
print(result)

[15, 21, 30, 33]

In [23]:
students=[
    ("홍길동",90),
    ("유관순",60),
    ("이순신",80),
]
sorted_students=sorted(students,key=lambda x:x[1],reverse=True)
print(sorted_students)

[('홍길동', 90), ('이순신', 80), ('유관순', 60)]